/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* FullCalendar v6 Base Styles */
.fc {
  direction: ltr;
  text-align: left;
}

.fc table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
}

.fc th {
  padding: 0;
  vertical-align: top;
}

.fc td {
  padding: 0;
  vertical-align: top;
}

.fc a {
  text-decoration: none;
  color: inherit;
}

.fc-button-group {
  display: inline-block;
}

.fc-button {
  display: inline-block;
  font-weight: normal;
  padding: 0.4em 0.6em;
  white-space: nowrap;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fc-button:focus {
  outline: 0;
}

.fc-state-default {
  border: 1px solid;
}

.fc-state-default.fc-corner-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.fc-state-default.fc-corner-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.fc-button-inner {
  position: relative;
  float: left;
  overflow: hidden;
}

.fc-button-content {
  position: relative;
  float: left;
  height: 1.9em;
  line-height: 1.9em;
  padding: 0 0.6em;
  white-space: nowrap;
}

.fc-button-state {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fc-header {
  margin-bottom: 1em;
}

.fc-header-left {
  width: 25%;
  text-align: left;
}

.fc-header-center {
  text-align: center;
}

.fc-header-right {
  width: 25%;
  text-align: right;
}

.fc-header-title {
  display: inline-block;
  vertical-align: top;
}

.fc-header-title h2 {
  margin-top: 0;
  white-space: nowrap;
  font-size: inherit;
  font-weight: inherit;
}

.fc-view {
  width: 100%;
  overflow: hidden;
}

.fc-daygrid-day-frame {
  position: relative;
  min-height: 100%;
}

.fc-daygrid-day {
  background-color: #fff;
}

.fc-daygrid-day-number {
  padding: 4px;
  color: #333 !important;
  font-weight: 500;
}

.fc-col-header-cell {
  padding: 8px 4px;
  color: #333 !important;
  font-weight: 600;
}

.fc-daygrid-day-frame {
  color: #333 !important;
}

.fc-day-today {
  background-color: #f0f7ff;
}

.fc-daygrid-day-top {
  flex-direction: row;
  justify-content: flex-end;
}

.fc-daygrid-day-number {
  flex: 0 0 auto;
  padding: 4px;
  color: #333 !important;
}

.fc-daygrid-day-events {
  margin-top: 2px;
  position: relative;
  z-index: 4;
}

.fc-daygrid-event {
  white-space: nowrap;
  overflow: hidden;
  margin: 1px 2px 0;
  border-radius: 3px;
  font-size: 0.85em;
  cursor: pointer;
}

.fc-daygrid-event-dot {
  margin: 0 4px;
}

.fc-daygrid-event-harness {
  position: relative;
}

.fc-daygrid-event-harness-abs {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
