<!-- TopBarComponent en haut de la page -->
<app-top-bar *ngIf="isAdmin"></app-top-bar>

<!-- Conteneur principal avec sidebar et contenu -->
<div class="flex h-screen">
  <!-- Sidebar pour admin -->
  <app-admin-side-bar *ngIf="isAdmin"></app-admin-side-bar>

  <!-- Contenu principal -->
  <div class="flex-1 p-4 ml-[15%] mt-14 min-h-full h-fit bg-opacity-90" style="background: url('assets/images/background.png') no-repeat center center fixed; background-size: cover;">
    <router-outlet></router-outlet>
  </div>
</div>