<div class="flex flex-row items-center justify-between border-b h-14 px-5 fixed w-full z-10" style="background: url('assets/images/background.png') no-repeat center center fixed; background-size: cover;">
  <div class="h-24 w-24 mt-10">
    <img src="assets/logo/chsf.png" alt="logo">
  </div>

  <!-- Ajout de la date centrée -->
  <div class="flex-1 text-center">
    <p class="font-bold text-lg text-white">
      {{ today | date:'EEEE d MMMM yyyy' | titlecase }}
    </p>
  </div>

  <div class="flex flex-row items-center gap-5">
    <p class="font-medium">{{ userRole !== null ? userRole : 'Utilisateur' }}</p>
    <div class="flex items-center gap-2">      
      <p-avatar
        [label]="userName !== null ? userName : 'N/A'"
        styleClass="mr-2 cursor-pointer"
        [style]="{ 'background-color': '#ffffff', color: '#2a1261' }"
        shape="circle"
        (click)="showProfile()"
      />
      <!-- Icône de notification avec badge -->
      <div class="relative cursor-pointer" (click)="showNotifications()">
        <i class="pi pi-bell text-xl text-white"></i>
        <span class="absolute -top-2 -right-2 bg-red-500 text-white text-xs rounded-full h-5 w-5 flex items-center justify-center">
          {{ unreadNotificationsCount }}
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Modale pour le profil -->
<p-dialog
  header="Profil Utilisateur"
  [(visible)]="displayProfileModal"
  [modal]="true"
  [style]="{ width: '30vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="flex flex-col items-center p-4">
    <div class="mt-3" *ngIf="user">
      <p><strong>Nom :</strong> {{ user.first_name.toUpperCase() }}</p>
      <p class="mt-2"><strong>Prénom :</strong> {{ user.last_name.toUpperCase() }}</p>
      <p class="mt-2"><strong>Téléphone :</strong> {{ user.phoneNumber }}</p>
      <p class="mt-2"><strong>Email :</strong> {{ user.email }}</p>
      <p class="mt-2"><strong>Rôle :</strong> {{ user.role === 'admin' ? 'Administrateur' : user.role === 'cadre' ? 'Cadre de Santé' : 'Secrétaire' }}</p>
    </div>
    <button class="mt-3 text-blue-900 underline" (click)="closeProfileModal()">Fermer</button>
  </div>
</p-dialog>